/* Footer */

footer {
  width: 100%;
  text-align: center;
}

.copyright {
  padding-top: 20px;
  color: black;
  font-size: 14px;
  a {
    text-decoration: none;
    color: black;
  }
}

#author {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}